#picture
{
    border:solid green;
    margin-left: 60px;
    margin-right: 60px;
    
}


.about
{
    display: flex;
    
}
#username
{
    border:solid blue;
    font-size: 2em;
}

#desc
{
    border:solid red;
    width: 900px;
}


.buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#like
{
    margin-left: 5px;
    margin-right: 5px;
}

#dislike
{
    margin-left: 5px;
    margin-right: 5px;
}
#idk
{
    margin-left: 5px;
    margin-right: 5px;
}
